<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="QLyNhanSu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0"  sku=".NETframework,Version=v4.5.2" />	
	</startup>
	<connectionStrings>
		<add name="ConnectionString"  connectionString="Data Source=NDPHAT\SQLEXPRESS;Initial Catalog=27-4-2024 database;Integrated Security=True;"
    providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <userSettings>
  <QLyNhanSu.Properties.Settings>
   <setting name="RememberMe" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Username" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
  </QLyNhanSu.Properties.Settings>
 </userSettings>
</configuration>